/* цвет основного текста #212121 */

/* вторичный цвет #757575 */

/* акцент #219F3 */

/* белый #FFFFFF */

/* задний фон чорный #2F303A */

/* задний фон белый #F5F5F5 */

:root {
    --primari-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196f3;
    --text-white: #ffffff;
    --text-black: #000000; 
    --shadow-white: #F5F4FA; 
    --shadow-blue: #188CE8;
    --shadow-grey: #2F303A;
}



body {
    background-color: var(--text-white);
    font-family: 'Roboto',
        sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primari-text-color);
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.list {
    margin: 0;
    padding: 0;
    list-style: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    
}

img {
    display: block;
}

.logo-link {

    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-decoration: none;
    


}

.logo-header {
    color: var(--text-black);
   
}

.site-con {
    display: flex;
    margin-left: 93px;
}




.site-con .item:not(:last-child) {
margin-right: 50px;
}


ul {
    list-style: none;
}

.site-nav {
    color: var(--primari-text-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    
}

.site-navstudia {
        color: var(--primari-text-color);
        text-decoration: none;
        display: block;
        padding-top: 32px;
        padding-left: 32px;
       margin-left: 93px;

    }


.site-navstudia:hover,
.site-navstudia :focus {
        color: var(--accent-color);
    }

.site-nav:hover,
.site-nav:focus {
    color: var(--accent-color);
}

.link {
    color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.main-cont {
    display: flex;
    align-items: center;
}


.link.current {
    color: var(--accent-color);
}

.tel {
    display: flex;
    margin-left: auto;
}

.tel a {
    color: var(--title-text-color);
    text-decoration: none;

}

.tel .item + .item {
margin-left: 50px ;
}


.tel a:hover,
.tel a:focus {
    color: var(--accent-color);
}

.site-sec {
    background-color: var(--shadow-grey) ;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.site-sec {
    background-image: linear-gradient 
    (to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ),

    url(../images/people.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
  

}

.site-head {
    color: var(--text-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 40px;
}


.site-button {
    font-family: 'Roboto';
    background-color: var(--accent-color);
    color: var(--text-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border: none;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.site-button:hover,
.site-button:focus {
    background-color: var(--shadow-blue);
}


.site-button {
    cursor: pointer;
}

.advantages-list {
    display: flex;
    margin-right: -30px;
    
}

.info-list {
    margin-right: 30px;
    align-items: center;
    padding-left: 0px ;
  max-width: 270px;
}

.info {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
   

}

.info-text {
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.busy {
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 118px;
    margin-bottom: 50px;

}


.cards {
display: flex;
padding-left: 40px;
margin-left: -37px;
gap: 30px;
}

.cards li {
    align-items: center;
   
}

.team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    
}

.team-work {
    display: flex;
   
    
}

.teamcard {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}


.team-section {
  background-color: var(--shadow-white);
}

.team-work li {
    background-color: var(--text-white);
    margin-right: 30px;
}

.team-work h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-work p {
   font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 30px;
}

.foot {
    background-color: var(--shadow-grey);
    padding-top: 60px;
}

.foot .logo-link{
    display: inline-block;
    
    margin-bottom: 20px;
    
}

.logo-footer {
    color: var(--text-white);
}

.foot p {
    color: var(--text-white);

}

.foot-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 9px;
    
}

 
.contact a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
   
}

.contact li :hover,
.contact li :focus {
    color: var(--accent-color);
}


.hero {
    display: flex;
    align-items: center;
}

.webhead{
    display: flex;
 
}

.headport {
    border: 1px solid #ECECEC;
}

.webhead .item:not(:last-child) {
    margin-right: 50px;
}

.item .link {
    align-items: center;
}




.button-filter {
    color: var(--primari-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    padding: 6px 22px 6px 22px;
}

.knopki {
        display: flex;
        margin-bottom:50px;
        justify-content: center;
        border-radius: 4px;
       
}

.knopka {
    margin-right: 8px;
    
}

.knopki .knopka :not(:last-child) {
    margin-right: 8px;
}

.button-filter:hover,
.button-filter:focus,
.button-filter:active
{
    color: var(--text-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.button-filter {
    cursor: pointer;
}

.all {
    
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: 30px;
 list-style: none;
 margin: 0;
 padding: 0;

 

}

.all li {

    margin: 0;
    padding: 0;
    flex-basis: calc((100% - 60px) / 3);
  
}


.all h3 {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primari-text-color);
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
    
}

.all p {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin: 4px 24px 20px 24px;
}


.all li {
    background-color: var(--text-white);
    
}

.all a {
    text-decoration: none;
    
}

.kart {
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;;
    border-right: 1px solid #EEEEEE;;
}